.modalContainer {
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    display: flex;
    justify-content: center;
}

.modalBox {
    width: 500px;
    align-self: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 6px;
}
