.option {
    position: relative;
}

.optionList {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 44px;
    left: 0;
    width: 100%;
}

.optionListItem {
    padding: .5rem;
    border: 1px solid #666;
    background-color: white;

    &:hover {
        background-color: #eee;
    }
}