.appBar {
    width: 100%;
    height: 64px;
    background-color: #3f51b5;
    display: flex;
    align-items: center;

    & > span {
        color: white;
        margin-left: 1rem;
        font-size: 1.25rem;
    }
}

.content {
    padding: 1rem;
    min-height: calc(100vh - 64px);
    background-color: rgb(237, 237, 237);
    box-sizing: border-box;
}
